body {
  font-family: "Lato", sans-serif;
  color: #747784;
  font-weight: 300;
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 40px;
  color: #2d3c49;
}

.tag1 {
  color: #2d3c49;
}

.title-logo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.img-responsive {
  width: 100%;
}

.heading {
  color: #7d97ad;
}
